<div class="container post-box">
	<div ng-repeat="item in ctrl.posts | filter:ctrl.search" ng-click="ctrl.goPost(item._id)" class="posts row">
		
		<div ng-click="ctrl.goPost(item._id)" class="mainposts">
			<div class="linebreak2"></div>
			<div class="datestamp">
				<p class="main-date">{{item.date}}</p>
				<p class="main-date">@ {{item.time}}</p>
			</div>
			<img class="main-thumb col-md-4" ng-src="{{item.photo1}}">
			<p class="main-title" ng-style="{color:item.color}">{{item.title}}</p>
			<div class="postdetails col-md-4">
				<p class="main-post-number">{{item.post_number}}</p>
				<div class="linebreak"></div>
				<p class="main-tags">tags : {{item.tags}}</p>
			</div>

		</div>

	</div>
</div>